.balanceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalWrapper {
  height: 100%;
  color: hsl(27, 66%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balanceHeader {
  margin-bottom: 0.3rem;
}
